Trabalho_Gabriel_Lucas_Rodrigo_Gustavo/src/main/app/trabalho_gabriel_lucas_rodrigo_gustavo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8084" doc:name="HTTP Listener Configuration" />
	<http:request-config name="HTTP_Request_Configuration_CEP"
		host="ws.homologacao.ufsc.br" port="80" doc:name="HTTP Request Configuration" />
	<http:request-config name="HTTP_Request_Configuration_Cartao"
		host="localhost" port="9000" doc:name="HTTP Request Configuration" />
	<http:request-config name="HTTP_Request_Configuration" host="127.0.0.1" port="8903" doc:name="HTTP Request Configuration"/>
	<flow name="Portal-Web">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="*" doc:name="Tela inicial" />
		<http:static-resource-handler
			resourceBase="${app.home}/portalweb" doc:name="Portal" />
	</flow>
	<flow name="MainFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/tratamento" doc:name="HTTP"/>
		<component class="tratamento.Tratamento" doc:name="Java"/>
		<enricher doc:name="Inclui CEP">
			<http:request config-ref="HTTP_Request_Configuration_CEP" path="/CEPService/getCepInfo/" method="GET" doc:name="Consulta CEP">
				<http:request-builder>
					<http:query-param paramName="cep" value="#[payload.cep]"/>
				</http:request-builder>
			</http:request>
			<enrich source="#[json:logradouroAbreviado]" target="#[payload.endereco]"/>
			<enrich source="#[json:uf]" target="#[payload.estado]"/>
			<enrich source="#[json:bairro]" target="#[payload.bairro]"/>
			<enrich source="#[json:localidade]" target="#[payload.municipio]"/>
		</enricher>
		<component class="tratamento.dao.Dao" doc:name="Persist Pedido"/>

		<choice doc:name="Qual cart&#227;o">
			<when expression="#[Integer.parseInt(payload.numeroCartao.substring(0,2)) &gt;= 51  &amp;&amp; Integer.parseInt(payload.numeroCartao.substring(0,2)) &lt;= 55]">
				<component class="tratamento.ProcessamentoMastercard" doc:name="Master"/>
			</when>
			<when expression="#[payload.numeroCartao.substring(0,1) == '4']">
				<component class="tratamento.ProcessamentoVisa" doc:name="Visa"/>
			</when>
			<otherwise>
				<component class="tratamento.LancarExcecaoCartaoNaoReconhecido" doc:name="Cart&#227;o n&#227;o aceito ou n&#227;o reconhecido"/>
			</otherwise>
		</choice>
		<enricher doc:name="Nota fiscal">
			<processor-chain doc:name="Processor Chain">
				<component class="tratamento.MontaXmlNotaFiscal" doc:name="Montar XML Java"/>
				<set-payload value="#[payload]" mimeType="text/xml" doc:name="Seta nota fiscal"/>
				<http:request config-ref="HTTP_Request_Configuration" path="/gerarNotaFiscal" method="POST" doc:name="Gerar nota fiscal"/>
			</processor-chain>
			<enrich source="#[xpath('//numeroNotaFiscal')]" target="#[payload.notaFiscal]"/>
			<enrich source="#[xpath('//urlNotaFiscal')]" target="#[payload.urlNotaFiscal]"/>
		</enricher>
		<set-property propertyName="destinatarioEmail" value="#[payload.email]" doc:name="Defini&#231;&#227;o destinat&#225;rio do e-mail cliente"/>
		<async doc:name="Enviar e-mail para cliente">
			<set-payload value="Seu pedido foi feito com sucesso!
O n&#250;mero da nota fiscal &#233; #[payload.notaFiscal]
A nota fiscal pode ser visualizada neste link: #[payload.urlNotaFiscal]" encoding="UTF-8" mimeType="text/plain" doc:name="Email do cliente"/>
			<smtps:outbound-endpoint host="smtp.gmail.com" port="465" user="gabriel.epereira0807@gmail.com" password="hjnl ziit mkpx qrhe" to="#[message.outboundProperties.'destinatarioEmail']" from="gabriel.epereira0807@gmail.com" subject="Nota Fiscal" responseTimeout="10000" doc:name="SMTP Cliente"/>
		</async>
		<set-property propertyName="destinatarioEmail" value="rhmoraes@furb.br" doc:name="Defini&#231;&#227;o do destinat&#225;rio do e-mail gerente"/>
		<async doc:name="Enviar e-mail para Gerente">
			<component class="tratamento.GerarRelatorio" doc:name="GerarRelat&#243;rio"/>
			<set-attachment attachmentName="Relatorio_de_Vendas.xls" value="#[message.payload]" contentType="application/vnd.ms-excel" doc:name="Attachment"/>
			<set-payload value="Ol&#225;, segue em anexo os pedidos efetuados hoje." encoding="ISO-8859-1" doc:name="Corpo email"/>
			<smtps:outbound-endpoint host="smtp.gmail.com" port="465" user="gabriel.epereira0807@gmail.com" password="hjnl ziit mkpx qrhe" to="#[message.outboundProperties.'destinatarioEmail']" from="gabriel.epereira0807@gmail.com" subject="Relat&#243;rio de Pedidos da NewTec" responseTimeout="10000" doc:name="SMTP para Gerente"/>
		</async>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload value="#[exception.cause] " doc:name="Tratar erro"/>
		</catch-exception-strategy>
	</flow>
</mule>
